<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="static/css/about.css">
</head>
<body>
  <nav class="navbar">
    <div class="nav-container">
      <div class="logo">
        <img src="static/images/logo.png" alt="Polluted Air" class="logo-home">
      </div>
      <div class="nav-links">
        <a href="/dashboard" class="nav-btn dashboard-btn">Dashboard</a>
        <a href="/aqi" class="nav-btn aqi-btn">AQI</a>
        <a href="/airchat" class="nav-btn airchat-btn">AirChat</a>
        <a href="/logout" class="logout-btn">Logout</a>
      </div>
    </div>
  </nav>

  <div class="about-container">
    <h1 class="about-heading">About Us</h1>
    <p class="about-description">
      Vayu: is a student led project that aims to forecast air quality and provide air quality insight in the simplest and the most accurate way possible.
      <br><br>
      We use satellite based data and our advanced machine learning models to provide you with the air quality insights.
      <br><br>
      Currently based in Delhi, we look to advance this venture to other cities of the country too.
    </p>
  </div>

  <p class="disclaimer">*Our insights are subjected to errors, the forecasted data has slight error margins</p>

  <style>
  </style>
</body>
</html>